html body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
}

.tiles {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    align-items: center;
    font-size: 140px;
    max-height: 166.667px;
    min-height: 166.667px;
}

#board {
    margin: 20px auto;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    display: grid;
}

#input {
    text-align: center;
    visibility: visible;
}

#turnWrapper {
    text-align: center;
    visibility: hidden;
}

#resultWrapper {
    text-align: center;
    visibility: hidden;
}